<!DOCTYPE html>
<html lang="sv">

<head>
  <title>Ange ditt användarnamn och lösenord</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/index.css" type="text/css" />
</head>

<body class="login">
  <div id="logo">
    <img alt="logo" src="/static/logoscouterna.png">
  </div>
  <div id="login">
    <form name="loginform" id="loginform" action="/auth/login" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
      <h2>Inloggning</h2>
      <p>
        <label for="username">Användarnamn</label>
        <span class="tooltipqmark" data-tooltip="Medlemsnummer, personnummer, eller primär epostadress">
          <img src="/static/questionmark.png">
        </span><br>
        <input type="text" name="username" id="username" class="input" size="20" tabindex="10" required>
      </p>
      <p>
        <label for="user_pass">Lösenord</label><br>
        <input type="password" name="password" id="user_pass" class="input" value="" size="20" tabindex="20" required>
      </p>
      <label>
        <input name="remember_me" type="checkbox" id="remember_me" value="true" tabindex="90">
        Kom ihåg mig
      </label>
      </p>
      <p class="submit">
        <label>
          <input type="submit" name="wp-submit" id="wp-submit" value="Logga in »" tabindex="100">
        </label>
      </p>
      <p>
        <a href="https://www.scoutnet.se/request_password">Glömt lösenordet - klicka här.</a>
      </p>
      {% if login_failed %}
        <div id="error">
          <img src="/static/gtk-dialog-error.48x48.png" style="float: right; margin: 15px;" alt="Error">
          <h2>Fel</h2>
          <p style="clear: both; font-weight: bold;">Felaktig användaridentitet eller lösenord</p>
          <p>Antingen finns det ingen användare med angiven användaridentitet eller så har du angivit fel lösenord. Försök igen.</p>
        </div>
      {% endif %}
    </form>
  </div>

  <div id="info">
    <h2>Har du en inloggning?</h2>
    <p>
      För att logga in på den här e-tjänsten så behöver du ett ScoutID.
      Det har du automatiskt om du är medlem i en scoutkår som är direktansluten till Scouterna eller tillhör Salt
      Scout.
    </p>
    <p>
      Om du är medlem i <b>Nykterhetsrörelsens Scoutförbund</b> eller <b>Equmenia</b> kontakta <a
        href="mailto:scoutnet@scouterna.se">scoutnet@scouterna.se</a> för att få hjälp med att skaffa ett ScoutID.
    </p>
    <p>
      <a href="https://etjanster.scout.se/e-tjanster/scoutid/">Läs mer om ScoutID</a>
    </p>
  </div>


</body>

</html>